body {
  font-size: 50px;
  font-family: monospace;
}
.p1 {
  color: tomato;
  background-color: lightyellow;
  border: 5px dashed tomato;
  padding: 10px;
}
.p0 {
  color: navy;
  background-color: lightblue;
  padding: 15px;
  border: dashed 
}
a {
  text-decoration: none;
  color: black;
  border: 5px solid black;
  padding: 10px;
  border-radius: 50px;
}
div {
  display: flex;
  justify-content: space-around;
}
